{{#ember-wormhole to='sidebar'}}
  <h2>
    Atmospheres
    {{#link-to 'atmospheres.create' class='icon'}}{{icon 'add'}}{{/link-to}}
  </h2>
  <ul>
    {{#each (sort-by 'name' model) as |environment|}}
      <li>
        {{#link-to 'atmospheres.details' environment.id}}
          {{environment.name}}
        {{/link-to}}
        <button class="icon" {{action (route-action 'playEnvironment' environment) bubbles='false'}}>{{icon 'play'}}</button>
      </li>
    {{/each}}
  </ul>
{{/ember-wormhole}}
{{outlet}}
