{{#each model as |sound|}}
  <li class="{{if sound.playing 'active'}}">
    <span class="name" {{action (route-action 'play' sound)}}>
      <button class="icon">
        {{icon 'stop' class='stop'}}
        {{icon 'play' class='play'}}
      </button>
      <span>{{sound.name}}</span>
    </span>
    <span>
      {{input type='range' min=0 max=1 step=0.01 value=sound.volume}}
      {{#if hasBlock}}{{yield sound}}{{/if}}
    </span>
  </li>
{{/each}}
{{#unless model.length}}
  <li class="de-em">Nothing to show.</li>
{{/unless}}

{{!-- <ul>
  {{#each categories as |category categoryIndex|}}
    <li>
      <fieldset>
        <legend>{{category.value}}</legend>
        <ul>
          {{#each category.items as |sound soundIndex|}}
            <li>
              <input type="checkbox" id="sound_{{categoryIndex}}_{{soundIndex}}" />
              <label for="sound_{{categoryIndex}}_{{soundIndex}}" class="backdrop"></label>
              <span class="popup">(Settings TBD)</span>
              <a href {{action (action onPlay sound)}} class="{{if sound.playing 'active'}}">
                {{sound.name}}
              </a>
              <label for="sound_{{categoryIndex}}_{{soundIndex}}">⚙</label>
              <div>{{input type='range' min=0 max=1 step=0.01 value=sound.volume}}</div>
            </li>
          {{/each}}
        </ul>
      </fieldset>
    </li>
  {{/each}}
</ul>
{{#if playingSounds.length}}
  <fieldset class="now-playing">
    <legend class="em">Now Playing</legend>
    <ul>
      {{#each playingSounds as |sound|}}
        <li>
          <a href {{action (action onPlay sound)}} class="active">{{sound.name}}</a>
          <div>{{input type='range' min=0 max=1 step=0.01 value=sound.volume}}</div>
        </li>
      {{/each}}
    </ul>
  </fieldset>
{{/if}} --}}
