{{#each (sort-by 'name' filteredSounds) as |sound|}}
  <li class="{{if sound.playing 'active'}}">
    <span {{action (route-action 'play' sound)}}>
      <button class="icon action">
        {{icon 'stop' class='stop'}}
        {{icon 'play' class='play'}}
      </button>
      <span class="name">{{sound.name}}</span>
    </span>
    <span>
      {{input type='range' min=0 max=1 step=0.01 value=sound.volume}}
      {{#if hasBlock}}{{yield sound}}{{/if}}
    </span>
  </li>
{{/each}}
{{#unless filteredSounds.length}}
  <li class="de-em">Nothing to show.</li>
{{/unless}}
