<header role="banner">
  <h1>Magic Stash: <em>Atmospheres</em></h1>
  <nav>
    {{#link-to 'sounds'}}Sounds{{/link-to}}
    {{#link-to 'atmospheres'}}Atmospheres{{/link-to}}
  </nav>
</header>
<div class="content">
  <aside>
    <div id="sidebar"></div>
    <footer>
      {{input type='range' min=0 max=1 step=0.01 value=player.masterVolume class='active'}}
      <button class="icon" {{action (action 'showCreateModal')}}>{{icon 'add'}}</button>
    </footer>
  </aside>
  <main>
    <div class="constrained">
      {{outlet}}
      {{#if showCreateModal}}
        {{#x-modal}}
          <form {{action (route-action 'create') on='submit'}} class="modal">
            <p>
              <label for="name">Name</label>
              {{input id='name' value=name}}
            </p>
            <p class="actions">
              <button {{action (action 'hideCreateModal')}} class="button">Cancel</button>
              <button {{action (action 'createAtmosphere')}} type="submit" class="button primary">Save</button>
            </p>
          </form>
        {{/x-modal}}
      {{/if}}
    </div>
  </main>
</div>
