<header role="banner">
  <h1>Magic Stash: <em>Atmospheres</em></h1>
  <nav>
    {{#link-to 'sounds'}}Sounds{{/link-to}}
    {{#link-to 'atmospheres'}}Atmospheres{{/link-to}}
  </nav>
</header>
<div class="content">
  <div id="overlay"></div>
  <aside>
    <div id="sidebar"></div>
    <footer>
      <button class="icon" {{action (action 'stopAll')}} disabled={{unless playingSounds true false}}>{{icon 'stop'}}</button>
      {{input type='range' min=0 max=1 step=0.01 value=player.masterVolume class='active'}}
      <button class="icon" {{action (route-action 'showCreateModal')}} disabled={{unless playingSounds true false}}>{{icon 'add'}}</button>
    </footer>
  </aside>
  <main>
    {{outlet}}
    <div id="modal"></div>
    {{#ember-wormhole to='modal'}}
      {{#x-modal class=(if showCreateModal 'shown' 'hidden') as |id|}}
        <form {{action (route-action 'createAtmosphere') on='submit'}} class="modal">
          <p>
            <label for="{{id}}_name">Name</label>
            {{input id=(concat id '_name') value=name}}
          </p>
          <p class="actions">
            <button {{action (action 'hideCreateModal')}} class="button">Cancel</button>
            <button type="submit" class="button primary">Save</button>
          </p>
        </form>
      {{/x-modal}}
    {{/ember-wormhole}}
  </main>
</div>
