{{#liquid-bind model use='offset-fade' class='liquid-main' enableGrowth=false as |currentModel|}}
  <header class="constrained">
    <h1>{{currentModel.environment.name}}</h1>
    <button {{action (route-action 'playEnvironment' currentModel)}} class="icon">{{icon 'play'}}</button>
    <span class="spacer"></span>
    <button {{action (toggle 'showDeleteConfirmation' this)}} class="button danger">Delete</button>
    <button {{action (toggle 'showEditModal' this)}} class="button">Rename</button>
  </header>
  {{#sound-list sounds=currentModel.sounds class='constrained' as |sound|}}
    <button {{action (action 'showSoundDeleteConfirmation' sound)}} class="icon danger">{{icon 'delete'}}</button>
  {{/sound-list}}
  {{#ember-wormhole to='modal'}}
    {{#x-modal class=(if showEditModal 'shown' 'hidden') as |id|}}
      <form {{action (route-action 'save') on='submit'}} class="modal">
        <p>
          <label for="{{id}}_name">Name</label>
          {{input id=(concat id '_name') value=newName}}
        </p>
        <p class="actions">
          <button {{action (toggle 'showEditModal' this)}} class="button">Cancel</button>
          <button type="submit" class="button primary">Save</button>
        </p>
      </form>
    {{/x-modal}}
    {{#x-modal class=(if showDeleteConfirmation 'shown' 'hidden')}}
      <form class="modal">
        <p>Are you sure you want to delete this atmosphere?</p>
        <p class="actions">
          <button {{action (toggle 'showDeleteConfirmation' this)}} class="button">Cancel</button>
          <button {{action (route-action 'destroy')}} class="button danger">Delete</button>
        </p>
      </form>
    {{/x-modal}}
    {{#x-modal class=(if showSoundDeleteConfirmation 'shown' 'hidden')}}
      <form class="modal">
        <p>Are you sure you want to delete this sound?</p>
        <p class="actions">
          <button {{action (action 'cancelSoundDeleteConfirmation')}} class="button">Cancel</button>
          <button {{action (route-action 'destroySound' showSoundDeleteConfirmation)}} class="button danger">Delete</button>
        </p>
      </form>
    {{/x-modal}}
  {{/ember-wormhole}}
{{/liquid-bind}}
