<h1>
  {{model.name}}
  <span class="actions">
    <button {{action (route-action 'destroy')}} class="button danger">Delete</button>
    <button {{action (toggle 'showEditModal' this)}} class="button">Rename</button>
  </span>
</h1>
{{#sound-list model=environmentSounds as |sound|}}
  <button {{action (route-action 'destroySound' sound)}} class="icon danger">{{icon 'delete'}}</button>
{{/sound-list}}
{{#if showEditModal}}
  {{#x-modal}}
    <form {{action (route-action 'save') on='submit'}} class="modal">
      <p>
        <label for="name">Name</label>
        {{input id='name' value=newName}}
      </p>
      <p class="actions">
        <button {{action (toggle 'showEditModal' this)}} class="button">Cancel</button>
        <button type="submit" class="button primary">Save</button>
      </p>
    </form>
  {{/x-modal}}
{{/if}}
